// Colors
$darkBlueIntro: hsl(217, 28%, 15%);
$darkBlueBackground: hsl(218, 28%, 13%);
$darkBlueFooter: hsl(216, 53%, 9%);
$darkBlueTestimonials: hsl(219, 30%, 18%);
$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$lightRed: hsl(0, 100%, 63%);
$white: hsl(0, 0%, 100%);

// Font Sizes
$fontSizes: (
    'xsmall': 0.5rem,
    'xsmall-variant': 0.7rem,
    'small-variant': 0.8rem,
    'small': 0.875rem, // 14px
    'medium': 1.25rem, // 20px
    'large': 1.5rem, // 24px
    'xlarge': 2rem, // 32px
);

